.vscode/**
.github/**
src/**
test/**
node_modules/**
*.ts
!out/**/*.js
tsconfig.json
eslint.config.js
vitest.config.ts
.gitignore
**/*.map
docs/dev/**
resources/screenshots/README.md
resources/ICON_README.md
.vscode-test/**
*.vsix
.eslintrc.json
vsc-extension-quickstart.md
**/tsconfig.json
tsconfig.e2e.json
**/.eslintrc.json
out/test/**
out-test/**
